body {
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

.company {
  color: #000;
}

nav ul {
  padding: 0;
}

li {
  list-style: none;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #69696a;
  display: block;
  width: fit-content;
}

.button {
  background-color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  width: inherit;
}

.button1{
  background-color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  width: inherit;
}

main {
  margin: 35px 0;
}

.about_title {
  color: #000;
  font-size: 32px;
  font-weight: bolder;
}

.about_text {
  border-left: 3px solid #69696a;
  padding-left: 15px;
  color: #69696a;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .big {
    background: #f788a7;
    opacity: 0.6;
    right: 125px;
    bottom: 250px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
  }
  
  .medium {
    background: #f7c1a2;
    opacity: 0.7;
    right: 55px;
    bottom: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
  }
  
  .small {
    background: #cf82d5;
    opacity: 0.6;
    right: 70px;
    bottom: 370px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
  }

  body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
  }
  
  .company {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
     
  li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding-inline: 5px;
    width: 120px;
    height: 46px;
  }
  
  a {
    text-decoration: none;
    color: #69696a;
    display: block;
  }
  
  .button {
    background-color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    width: 100px;
  }

  .button1{
    background-color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    width: 100px;
    bottom: 25px;
    position: absolute;
    margin-left: 400px;
  }

  main {
    margin-right: 500px;
  }
  }